<div class="mat-elevation-z8">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
    
    
        <table mat-table class="full-width-table" matSort aria-label="Elements">

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let activity">{{activity.name}}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
    
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Date</th>
                <td mat-cell *matCellDef="let activity">
                    {{activity.date !=''? (activity.date.toDate() | date: 'hh:mm:ss, dd/MM/yyyy') :''}}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
    
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let activity">{{activity.description}}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
    
            <ng-container matColumnDef="host">
                <th mat-header-cell *matHeaderCellDef>Host</th>
                <td mat-cell *matCellDef="let activity">{{activity.host}}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
    
            <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef>Location</th>
                <td mat-cell *matCellDef="let activity">{{activity.location}}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
    
            <ng-container matColumnDef="period">
                <th mat-header-cell *matHeaderCellDef>Period</th>
                <td mat-cell *matCellDef="let activity">
                    {{activity.period !=''? (activity.period.toDate() | date: 'hh:mm:ss, dd/MM/yyyy') :''}}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
    
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="10"
            [pageSizeOptions]="[10, 20 ,30]">
        </mat-paginator>
    </div>