<body class="inventory-body">
    <form [formGroup]="addressForm" novalidate (nglogin)="login()">
<mat-card class="login-card">
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                            <mat-form-field class="full-width">
                                    <input matInput placeholder="User name" formControlName="username">
                                    <mat-error *ngFor="let validation of validation_messages.username">
                                      <mat-error class="error-message" *ngIf="addressForm.get('username').hasError(validation.type)" [innerHTML]=validation.message>
                                      </mat-error>
                                    </mat-error>
                                  </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                            <mat-form-field class="full-width">
                                    <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" formControlName="password">
                                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    <mat-error *ngFor="let validation of validation_messages.password">
                                      <mat-error class="error-message" *ngIf="addressForm.get('password').hasError(validation.type)" [innerHTML]=validation.message>
                                      </mat-error>
                                    </mat-error>
                                  </mat-form-field>
                    </td>


                </tr>
            </table>
       
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button (click)="login()" color="primary">Login</button>
        <button mat-raised-button (click)="register()" color="primary">Register</button>
    </mat-card-actions>
</mat-card>
</form>
</body>