<div class="mat-elevation-z8">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>


    <table mat-table class="full-width-table" matSort aria-label="Elements">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let activity">{{activity.id}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let activity">{{activity.name}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let activity">
                {{activity.date !=''? (activity.date.toDate() | date: 'hh:mm:ss, dd/MM/yyyy') :''}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let activity">{{activity.description}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="host">
            <th mat-header-cell *matHeaderCellDef>Host</th>
            <td mat-cell *matCellDef="let activity">{{activity.host}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef>Location</th>
            <td mat-cell *matCellDef="let activity">{{activity.location}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="period">
            <th mat-header-cell *matHeaderCellDef>Period</th>
            <td mat-cell *matCellDef="let activity">
                {{activity.period !=''? (activity.period.toDate() | date: 'hh:mm:ss, dd/MM/yyyy') :''}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="students">
            <th mat-header-cell *matHeaderCellDef>Students</th>
            <td mat-cell *matCellDef="let activity">{{activity.students}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="enroll">
            <th mat-header-cell *matHeaderCellDef>Enroll</th>

            <td mat-cell *matCellDef="let activity ;let i = index"> <button [disabled]="disabled[i]" mat-icon-button
                    (click)="enroll(activity.name, i)">Enroll</button></td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Edit</th>

            <td mat-cell *matCellDef="let activity"> <button mat-icon-button
                    (click)="edit(activity.id)">Edit</button></td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="10"
        [pageSizeOptions]="[10, 20 ,30]">
    </mat-paginator>
</div>

<div *ngIf="isEdit">

    <mat-card class="add-card">
        <mat-card-header>
            <mat-card-title>Update Activity</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <form class="">
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="add-card">
                                <input matInput placeholder="Name of Activity" [(ngModel)]="name" name="name" required>
                            </mat-form-field>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <mat-form-field class="add-card">
                                <input matInput placeholder="Location of Activity" [(ngModel)]="location"
                                    name="location" required>
                            </mat-form-field>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <mat-form-field class="add-card">
                                <input matInput placeholder="Activity Description" [(ngModel)]="description"
                                    name="description" required>
                            </mat-form-field>
                        </td>
                    </tr>

                    <tr>
                        <mat-form-field class="add-card">
                            <input matInput [matDatepicker]="picker1" placeholder="Date of Activity"
                                [(ngModel)]="birthday" name="birthday">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>

                        </mat-form-field>
                    </tr>

                    <tr>
                        <mat-form-field class="add-card">
                            <input matInput [matDatepicker]="picker2" placeholder="Period of Registration"
                                [(ngModel)]="period" name="period">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </tr>

                    <tr>
                        <td>
                            <mat-form-field class="add-card">
                                <input matInput placeholder="Host" [(ngModel)]="host" name="host" required>
                            </mat-form-field>
                        </td>
                    </tr>

                </table>
            </form>
            <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="save()">Save</button>
            <button mat-raised-button color="primary" (click)="edit()">Cancel</button>
        </mat-card-actions>

    </mat-card>
</div>