<mat-tab-group>
  <mat-tab label="Activity">
    <ng-template matTabContent>
      <app-activity-table></app-activity-table>
    </ng-template>
  </mat-tab>
  <mat-tab label="Registration">
    <ng-template matTabContent>
      <app-registration></app-registration>
    </ng-template>
  </mat-tab>
  <mat-tab label="Add">
    <ng-template matTabContent>
      <app-add></app-add>
    </ng-template>
  </mat-tab>
  <mat-tab label="Waiting List">
    <ng-template matTabContent>
      <app-waiting></app-waiting>
    </ng-template>
  </mat-tab>
</mat-tab-group>