<div class="mat-elevation-z8">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <table mat-table class="full-width-table" matSort aria-label="Elements">


        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let confirmation">{{confirmation.id}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="activity">
            <th mat-header-cell *matHeaderCellDef>Activity</th>
            <td mat-cell *matCellDef="let confirmation">{{confirmation.activity}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="studentId">
            <th mat-header-cell *matHeaderCellDef>Student ID</th>
            <td mat-cell *matCellDef="let confirmation">{{confirmation.studentId}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="confirm">
            <th mat-header-cell *matHeaderCellDef>Confirm</th>

            <td mat-cell *matCellDef="let e"> <button  mat-icon-button
                    (click)="confirm(e)">Confirm</button></td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>


        <ng-container matColumnDef="reject">
            <th mat-header-cell *matHeaderCellDef>Reject</th>

            <td mat-cell *matCellDef="let e "> <button  mat-icon-button
                    (click)="reject(e)">Reject</button></td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="10"
        [pageSizeOptions]="[10, 20 ,30]">
    </mat-paginator>
</div>