<h1>Welcome</h1>
<div class="topright">

    <button mat-button [matMenuTriggerFor]="menu" class="imgBtn"><img
            [src]="url" class="image"></button>
    <mat-menu #menu="matMenu">

       
        <div class="menu">
            <h3 class="notification-row">{{name}}</h3>

            <h5 class="notification-row3" *ngFor="let r of role">{{r.name}}</h5>
            <button mat-menu-item class="button button1" [routerLink]="'/profile'">Edit profile</button>
            <button mat-menu-item class="button button1" (click)="logout()">Logout</button>
        </div>
    </mat-menu>
</div>

<app-teacher-nav></app-teacher-nav>