
<mat-card class="register-card">
    <mat-card-header>
        <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <form class="">
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="register-card">
                            <input matInput placeholder="Name" [(ngModel)]="name" name="name" required>
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td>
                        <mat-form-field class="register-card">
                            <input matInput placeholder="Surname" [(ngModel)]="surname" name="surname" required>
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td>
                        <mat-form-field class="register-card">
                            <input matInput placeholder="Student's image" [(ngModel)]="image" name="image" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker" placeholder="Date of Birth" [(ngModel)]="birthday"
                            name="birthday" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </tr>

                <tr>
                    <td>
                        <mat-form-field class="register-card">
                            <input matInput placeholder="Student ID" [(ngModel)]="studentId" name="studentId" required>
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td>
                        <mat-form-field class="register-card">
                            <input matInput placeholder="Email" [(ngModel)]="email" name="email" required>
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td>
                        <mat-form-field class="register-card">
                            <input matInput placeholder="Password" [(ngModel)]="password" name="password"
                                type="password" required>
                        </mat-form-field>
                    </td>
                </tr>

            </table>
        </form>
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="registers()">Register</button>
    </mat-card-actions>
</mat-card>